# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
logs/

# Environment variables
.env

# Compiled files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3
dump.rdb
